/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-between-center{
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 100%;
    padding: 1.5rem;
}

.button{
    border: none;
}

.font-size{
    font-size: 1.15rem;
}

/* css header */

header{
    background-color: #0084fd;
    color: white;
}

header div.flex>ul{
    list-style-type: none;
}

header div.flex>ul>li{
    display: none;
    font-size: 1.2rem;
    padding: 0 .5rem;
}

header div.flex>ul>li:first-child{
    display: inline-block;
}

li>button.get-started-button{
    font-size: 1rem;
    background-color: white;
    border-radius: 1.5rem;
    padding: .75rem;
}

/* css main */

/* css intro section */

div.cards div.card{
    background-color: #b5ddff;
    margin: 1rem 0;
    text-align: center;
    border-radius: 2rem;
}

div.card{
    padding: 2rem 3rem 0;
}

div.content-card{
    text-align: start;
}

div.card h1,
div.card>i{
    color: #0084fd;
}

div.card h1{
    font-size: 2rem;
}

div.card p{
    line-height: 2rem;
}

div.card h1,
div.card p{
    padding-bottom: 2rem;
}

div.content-card button.app-store-button{
    color: white;
    background-color: #0084fd;
    padding: .75rem 4rem;
    font-size: 1rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

figure.image-card img{
    width: 100%;
}

div.card>i{
    padding-bottom: 2rem;
}

/* css planning section */

section#planning{
    background-color: #9792e4;
}

section#planning div.strategic{
    color: white;
    width: 100%;
}

div.strategic figure{
    text-align: center;
    margin-top: 2rem;
}

div.strategic figure,
div.app-dev figure{
    margin-top: 2rem;
}

div.strategic figure>img,
div.app-dev figure>img{
    height: 90%;
    width: 90%;
}

div.strategic h2{
    padding-top: 4rem;
    font-size: 2.5rem;
}

div.strategic p{
    padding-top: 3.5rem;
    line-height: 1.75rem;
}

section#planning div.app-dev{
    background-color: white;
    color: black;
    border-radius: 4rem;
    width: 100%;
    margin: 1rem 0 3rem;
    text-align: center;
}

div.app-dev figure{
    margin-top: 2rem;
}

div.app-dev h2{
    padding: 1rem;
}

div.app-dev p{
    padding: 0 2.5rem 1rem;
    font-size: 1.3rem;
    line-height: 2rem;
}

div.app-dev span{
    background-color: #9792e4;
    display: inline-block;
    border-radius: 50%;
    padding: .8rem 1rem;
    margin: 2rem 0;
}

/* css people section */

section#people{
    text-align: center;
}

section#people p#top-subtitle{
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 2rem;
}

section#people h2{
    color: #9792e4;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

section#people p.p-testimonial{
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 0 1rem 2rem;
}

section#people div.testimonial{
    background-color: #9792e4;
    margin: 1rem 0;
}

div.testimonial figure.testimonial-image,
div.testimonial div.testimonial-quote{
    width: 100%;
}

div.testimonial figure.testimonial-image{
    background-color: yellow;
}

div.testimonial div.testimonial-quote{
    background-color: cyan;
}

section#benefit{
    background-color: #9792e4;
}

div.article{
    background-color: white;
    height: 200px;
    margin: 1rem 0;
}

section#about-us div.text{
    background-color: yellow;
    height: 100px;
}

section#about-us div.image-quote{
    background-color: lime;
    height: 100px;
}

section#get-started{
    background-color: #9792e4;
    text-align: center;
}

/* css footer */

footer{
    background-color: #333333;
    text-align: center;
}


/* 
    RESPONSIVE 
*/


/* TABLET */

@media screen and (min-width: 768px){
    
    div.cards{
        justify-content: space-between;
        margin: 0 -.5rem;
    }

    div.cards div.card{
        width: calc((100% / 3) - 1rem);
        margin: .5rem;
        padding: 2rem 1.5rem 0;
    }

    div.cards div.card:first-child{
        width: calc((100% / 3) * 2 - 1rem);
    }

    figure.image-card{
        text-align: left;
    }

    figure.image-card img{
        width: 70%;
    }

    div.strategic h2{
        font-size: 4rem;
    }

    .testimonial{
        display: flex;
    }

    .testimonial-image{
        width: 40%;
    }

    .testimonial-quote{
        width: 60%;
    }

    .articles{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }

    div.article{
        width: calc((100% / 2) - 2rem);
        margin: 1rem;
    }

    section#about-us div.container{
        display: flex;
    }

    section#about-us div.text{
        width: 70%;
    }
    
    section#about-us div.image-quote{
        width: 30%;
    }

    section#get-started div.container-get-started{
        width: 70%;
        margin: 0 auto;
    }

    footer div.footer-text{
        width: 60%;
        margin: 0 auto;
    }
}


/* DESKTOP */

@media screen and (min-width: 992px){

    .container{
        width: 65%;
        margin: 0 auto;
    }

    header div.flex>ul>li{
        display: inline-block;
    }
    
    header div.flex>ul>li:first-child{
        display: none;
    }

    div.big-card{
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    div.content-card{
        margin-bottom: 4rem;
    }

    figure.image-card img{
        width: 100%;
    }

    section#planning div.plans{
        flex-wrap: nowrap;
        align-items: flex-end;
        width: 50%;
    }
    
    div.strategic figure{
        text-align: start;
    }

    div.strategic h2{
        font-size: 2.5rem;
    }

    div.strategic figure>img{
        height: 80%;
        width: 80%;
    }

    section#planning div.app-dev{
        width: 100%;
        margin: 0 0 0 1rem;
        text-align: center;
    }

    div.app-dev figure>img{
        height: 40%;
        width: 40%;
    }

    div.app-dev span{
        margin: 1rem 0 1.5rem;
    }

    div.article{
        width: calc((100% / 3) - 2rem);
    }

    section#get-started div.container-get-started{
        width: 50%;
    }

    footer div.footer-text{
        width: 45%;
    }
}