/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-between{
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 100%;
    padding: 1rem;
}

.button{
    border: none;
}

/* css header */

header{
    background-color: #0084fd;
    color: white;
}

header div.flex>ul{
    list-style-type: none;
}

header div.flex>ul>li{
    display: none;
    font-size: 1.2rem;
    padding: 0 1rem;
}

header div.flex>ul>li:first-child{
    display: inline-block;
}

li>button.get-started-button{
    font-size: 1rem;
    background-color: white;
    border-radius: 1.5rem;
    padding: .75rem;
}

/* css main */

div.cards div.card{
    background-color: #b5ddff;
    margin: 1rem 0;
    text-align: center;
    border-radius: 2rem;
}

div.card{
    padding: 2rem 3rem 0;
}

div.content-card{
    text-align: start;
}

div.card h1,
div.card>i{
    color: #0084fd;
}

div.card h1{
    font-size: 2rem;
}

div.card p{
    font-size: 1.15rem;
    line-height: 2rem;
}

div.card h1,
div.card p{
    padding-bottom: 2rem;
}

div.content-card button.app-store-button{
    color: white;
    background-color: #0084fd;
    padding: .75rem 4rem;
    font-size: 1rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

div.image-card img{
    width: 80%;
}

div.card>i{
    padding-bottom: 2rem;
}

section#planning{
    background-color: #9792e4;
}

section#planning div.strategic{
    background-color: magenta;
    height: 200px;
}

section#planning div.app-dev{
    background-color: aqua;
    height: 200px;
    margin-top: 1rem;
}

section#people div.testimonial{
    background-color: #9792e4;
    height: 100px;
    margin: 1rem 0;
}

div.testimonial div.testimonial-image{
    background-color: yellow;
}

div.testimonial div.testimonial-quote{
    background-color: cyan;
}

section#benefit{
    background-color: #9792e4;
}

div.article{
    background-color: white;
    height: 200px;
    margin: 1rem 0;
}

section#about-us div.text{
    background-color: yellow;
    height: 100px;
}

section#about-us div.image-quote{
    background-color: lime;
    height: 100px;
}

section#get-started{
    background-color: #9792e4;
    text-align: center;
}

/* css footer */

footer{
    background-color: #333333;
    text-align: center;
}


/* 
    RESPONSIVE 
*/


/* TABLET */

@media screen and (min-width: 768px){
    
    div.cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -.5rem;
    }

    div.cards div.card{
        width: calc((100% / 3) - 1rem);
        margin: .5rem;
    }

    div.cards div.card:first-child{
        width: calc((100% / 3) * 2 - 1rem);
    }

    .testimonial{
        display: flex;
    }

    .testimonial-image{
        width: 40%;
    }

    .testimonial-quote{
        width: 60%;
    }

    .articles{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }

    div.article{
        width: calc((100% / 2) - 2rem);
        margin: 1rem;
    }

    section#about-us div.container{
        display: flex;
    }

    section#about-us div.text{
        width: 70%;
    }
    
    section#about-us div.image-quote{
        width: 30%;
    }

    section#get-started div.container-get-started{
        width: 70%;
        margin: 0 auto;
    }

    footer div.footer-text{
        width: 60%;
        margin: 0 auto;
    }
}


/* DESKTOP */

@media screen and (min-width: 992px){

    .container{
        width: 65%;
        margin: 0 auto;
    }

    header div.flex>ul>li{
        display: inline-block;
    }
    
    header div.flex>ul>li:first-child{
        display: none;
    }

    div.big-card{
        display: flex;

    }

    .plans{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    section#planning div.app-dev{
        margin-left: 1rem;
    }

    div.article{
        width: calc((100% / 3) - 2rem);
    }

    section#get-started div.container-get-started{
        width: 50%;
    }

    footer div.footer-text{
        width: 45%;
    }
}